<%= render partial: "shared/heading", locals: { title: 'Start Trial', description: "Subscribe to #{ENV['COMPANY_NAME']}." } %>

<div id="checkout">
  <!-- Checkout will insert the payment form here -->
</div>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  // This is your test publishable API key.
const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');

initialize();

// Create a Checkout Session as soon as the page loads
async function initialize() {
  const response = await fetch("/billing_portal.json", {
    method: 'POST'
  });

  const { clientSecret } = await response.json();

  const checkout = await stripe.initEmbeddedCheckout({
    clientSecret,
  });

  // Mount Checkout
  checkout.mount('#checkout');
}
</script>
