<div class="min-h-screen flex justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full">
    <%= render 'devise/shared/devise_heading', title: 'Forgot your password?' %>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'mt-8' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-2">
        <input aria-label="Email address" name="user[email]" id="user_email" type="email" required autofocus class="appearance-none rounded-b-md rounded-t-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" placeholder="Enter your email" />
      </div>

      <div class="mt-6">
        <button type="submit" data-turbo="false" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-primary hover:bg-primary-hover focus:outline-none transition duration-150 ease-in-out">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <svg class="h-5 w-5 transition ease-in-out duration-150" fill="white" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
          Send Reset Instructions
        </button>
      </div>
    <% end %>
  </div>
</div>
