<%= render "shared/flash" %>

<nav class="nav">
  <ul>
    <li>
      <%= link_to 'home', root_path, class: active_tab(root_path)  %>
    </li>
    <li>
      <%= link_to 'login', new_user_session_path, class: active_tab(new_user_session_path) %>
    </li>
    <li>
      <%= link_to 'logout', logout_path if current_user %>
    </li>
  </ul>
</nav>
