<!-- Customize the following for each page of your app. -->
<% meta title: "Home Page", description: "Description of this page." %>

<div class="jumbotron">
  <h1>headline goes here</h1><br>
  <button class="btn btn-primary">sign up</button>
</div>
