# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: <%= secret_key_base %>

admin_email: support@localhost.com
base_url: http://localhost:3000
company_name: <%= Rails.application.class.module_parent_name %>
postmark_api_token: xxxx-qqqq-yyyy-zzzz

stripe:
  api_key:
  product_price_id:
  publishable_key: