<p>hey there,</p>

<p>do you need help setting up your <%= Rails.application.credentials.company_name %> account?</p>

<p>talk soon,<br><%= link_to Rails.application.credentials.company_name, Rails.application.credentials.base_url %></p>
