<p>hey there,</p>

<p>this is just a friendly reminder to consider activating your account at <%= Rails.application.credentials.company_name %>.</p>

<p>cheers,<br><%= link_to Rails.application.credentials.company_name, Rails.application.credentials.base_url %></p>
