<p>hey there,</p>

<p>welcome to <%= Rails.application.credentials.company_name %>! let us know if you need any help.</p>

<p>cheers,<br><%= link_to Rails.application.credentials.company_name, Rails.application.credentials.base_url %></p>
