<%%= render partial: "shared/heading", locals: { title: "Edit <%= human_name.downcase %>", description: '' } %>

<div class="mx-auto max-w-3xl">
  <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>

  <%%= link_to "Show this <%= human_name.downcase %>", @<%= singular_table_name %>, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%%= link_to "Back to <%= human_name.pluralize.downcase %>", <%= index_helper %>_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
