<div class="flex">
  <div class="mx-auto">
    <div class="text-center">
      <h3 class="text-xl mb-4">Editing user "<%= @user.email %>"</h3>
      <%= button_to "Delete", admin_user_path(id: @user.id), form: { data: { turbo_confirm: "Are you sure? This will delete the user forever." } }, method: :delete, class: 'text-xs text-white bg-red-500 p-2 rounded-md' %>
    </div>

    <%= render 'profile', user: @user %>
  </div>
</div>
